.date-picker {
    padding: 20px;
}

#button {
    margin-top: 10px;
    background-color: #C3DAF7;
    border-color: #425F89;
}

#dateinput {
    background-color:#C3DAF7;
    border-color: #425F89;
}

#button.toggle, 
#dateinput.toggle {
    background-color: white;
    border-color: black;
}

.far.fa-calendar-alt {
    color: #C3DAF7;
    font-size: 20px !important;
}

.far.fa-calendar-alt.toggle {
    color: black;
}


#title, #explanation, #yourneo {
    width: 100%;
    text-align: justify;
    padding: 10px;
    margin: 0;
}
/*
h3 {
    padding: 20px 20px 0px 20px;
    margin: 0;
} */

/* Embed video height https://stackoverflow.com/questions/35814653/automatic-height-when-embedding-a-youtube-video */
#photo {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

#photo iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#photo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.daily-picture {
    background: url('hubble-observes-one-of-a-kind-star-nicknamed-nasty.jpg') no-repeat center fixed;
    color: #C3DAF7;
    padding: 20px 20px 0px 20px;
    margin: 0;
    background-attachment: scroll;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    align-items: center;
    justify-content:center;
}

.daily-picture.toggle {
    background: none;
    color: black;
}
