@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap:100, 200, 300, 400, 500, 600, 700');

/*------------------- General -------------------------*/

html, body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    margin: 0;
}

/*-------------------Header, footer -------------------------*/

header {
    height: 3em;
    padding-top: 1em;
    padding-left: 5em; 
}

footer {
    text-align: center;
    height: 60px;
    margin-top: -50px;
}

/*-------------------Description on landing page-------------------------*/

#text, #description {
    text-align: center;
}

#expl_text {
    margin: 1em 0em;
}

.expl_text1 {
    display: none;
}

/*-------------------Date picker -------------------------*/

.date-picker {
    padding: 20px;
    text-align: center;
}

#button {
    margin-top: 10px;
}

#dateinput, #button {
    background-color:#ededed; 
    border-color: #ededed; 
}

.far.fa-calendar-alt {
    color: black; 
    font-size: 20px !important;
}

#validDate {
    margin: 1em 0em;
}

/*-------------------Picture of the day -------------------------*/

#photo {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

#photo iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#photo img {
    position: absolute;
    top: 0;
    width: auto;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
}

#media_from_nasa {
    border-radius: 8px;
}

.daily-picture {
    min-height: 100%;
} 

.content {
    padding: 20px;
    padding-bottom: 50px;
}

#title, #explanation, #yourneo {
    width: 100%;
    text-align: justify;
    margin: 0;
}

#yourneo {
    padding-bottom: 10px;
}

/*-------------------Media Queries-------------------------*/

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #photo, #text, #description, .date-picker, #validDate  {
        margin: 0 5%;
    }
  }