@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap:100, 200, 300, 400, 500, 600, 700');

/*------------------- General -------------------------*/

body {
    font-family: 'Open Sans', sans-serif;
}

/*-------------------Header, footer -------------------------*/

header, footer{
    background-color: black !important; 
}

header {
    height: 3em;
    text-align: left;
    padding-top: 0.7em;
    padding-left: 5em; 
}

footer {
    text-align: center;
    padding: 0.5em;
    color: white; 
}

/*-------------------Description on landing page-------------------------*/

#text {
    text-align: justify;
}

#expl_text {
    margin: 1em 0em;
}

.expl_text1 {
    display: none;
}

/*-------------------Date picker -------------------------*/

.date-picker {
    padding: 20px;
}

#button {
    margin-top: 10px;
}

#dateinput, #button {
    background-color:#ededed; 
    border-color: #ededed; 
}

.far.fa-calendar-alt {
    color: #ededed; 
    font-size: 20px !important;
}

/*-------------------Picture of the day -------------------------*/

#photo {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

#photo iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#photo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#media_from_nasa {
    border-radius: 8px;
}

.daily-picture {
    background: url('../images/stars.jpg') no-repeat center fixed; 
    color: #ededed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 20px 20px 0px 20px;
    margin: 0;
    background-attachment: scroll;
    align-items: center; 
    justify-content:center;
}

#title, #explanation, #yourneo {
    width: 100%;
    text-align: justify;
    padding: 10px;
    margin: 0;
}

/*-------------------Media Queries-------------------------*/

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #photo, #text, .date-picker  {
        margin: 0 5%;
    }
  } 